body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}

.title {
    font-size: 48px;
    color: rgb(243,91,52);
    font-family: 'Topol', Arial, sans-serif;
    margin: 0;
    text-align: center;
    line-height: 1.2;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

.content {
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
    margin-top: 120px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #000000ff;
    line-height: 1.6;
    margin: 15px 0;
}

.logo-container {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.fa-logo {
    max-height: 60px; /* Adjust this value as needed */
    width: auto;
    margin: 0 auto;
    display: block;
}
